.footer{
    position: fixed;
    color: cyan;
    bottom: 0;
    width: 100%;
    background-color: navy;
    line-height: 4;
    text-align: center;
  }

 #google_lens{
    height: 150px;
    width: 150px;
  }

 h3{
  color: black;
  background: pink;
  size: 20px;
 }

 h4{
  color: white;
  background-color: blueviolet;
 }
